<%- include('header'); -%>
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
    <body>
        <section>
            <center style="margin-top: 60px;" >
                <h1 class="mt1">
                    <b><%= guild.name %></b> | Dashboard
                </h1>
                <div class="from-body" style="margin-top: -2;">
                    <div class="from-holder">
                        <div class="from-content">
                            <div class="from-items">
                                <h3>Configurar Servidor</h3>
                                <p>Cambia la Configuracion de <%= bot.user.username %> en <%= guild.name %></p>
                                <form method="POST">
                                    <h5 style="margin-bottom: 0.5; margin-top: 10px; color: #828cff">Prefijo:</h5>
                                    <p style="font-style: italic;" class="disabled">Cambiar el Prefijo</p>
                                    <input style="margin-top: -10px;" type="text" class="form-control" name="prefix" value="<%= bot.settings.get(guild.id, 'prefix') %>" placeholder="Tu prefijo">

                                    <br><br>
                                    <h5 style="margin-bottom: 0.5; margin-top: 10px; color: #828cff">Configuracion de mensaje:</h5>
                                    <p style="font-style: italic;" class="disabled">Cambiar el mensaje</p>
                                    <input style="margin-top: -10px;" type="text" class="form-control" name="holamundo" value="<%= bot.settings.get(guild.id, 'holamundo') %>" placeholder="Tu mensaje">


                                    <br><br>
                                    <button type="submit" class="btn btn-success text-white">
                                        <i class="iconify" data-icon="cli:save"></i> Guardar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </section>
    </body>
</html>
<%- include('footer'); -%>